[Unit]
Wants=network.target
After=network.target
After=adsbfi-first-run.service

[Service]
EnvironmentFile=/boot/adsbfi-978env
SyslogIdentifier=adsbfi-978
RuntimeDirectory=adsbfi-978
User=adsbfi
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/adsbfi-978-start
Type=simple
Restart=on-failure
RestartSec=30
Nice=5

[Install]
WantedBy=default.target
